*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    color:#424242;
    margin:auto;
}
.navbar{
    display:flex;
    width:100%;
    align-items: center;
    justify-content: space-between;
    height:70px;
    margin:auto;
}
.logo{
    width:200px;
    max-width:450px;
   padding:12px ;
   margin-bottom: 10px;
   margin-left: 150px;
    height:140px;
   
   
}
.logo_image{
    width:80%;
    height:100%;
}
.tabs{
    display:flex;
}
.options{
    background-color: #fff;
    color:grey;
    justify-content: space-around;
    padding: 20px;
    font-weight: 400;
}
.options:hover{
    color: skyblue;
}
#bigtexthero{
    
    font-size: 44px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
   font-size: 40px;
   margin-bottom: 15px;
    
}
.hero_text{
    height:100px;
}
#smalltexthero{
    text-align: center;
    margin-top: 10px;
    font-weight: 350;
    font-size: 20px;
    margin-bottom: 40px;
}
.hero_section{
    color:#424242;
    padding-top: 50px;
    max-width:800px;
    max-height:400px;
    align-items: center;
    padding-bottom: 200px;
    padding: 0 20px 100px 20px;
    justify-content: center;
    display:contents;
    flex-direction: column;
    
}
.landing_image_class{
   
   justify-content: center;
   height:450px;
   width:800px;
   max-width: 1100px;
    
 
    margin: auto;
    margin-bottom:20px;
    
   
}
.landing_image{
    width:100%;
    height:80%;
    display: flex;
    
  justify-content: center;
    
}
.signupbutton{
    padding: 10px 30px;
    background-color: #387ed1;
    color: #fff;
    width: 170px;
    font-weight: 500;
    border-radius: 3px;
    height:100%;
    margin-top: 30px;
    font-size: large;
}
.signupbutton:hover{
    background-color: black;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; 
    text-align: center;
    margin-bottom: 10px;
}
.section2_container{
   display: flex;
   margin-top:70px;
    margin-left:80px;
    
   
}
.section2_container_text{
    display:block;
    align-items: center;
    justify-content: space-around;

}
.section2_container_headline{
    padding:10px;
    font-size: 30px;
    font-weight: 500;
}
.section2_container_subheading{
    padding:10px;
    font-size: 20px;
    margin-block-start: 20px;
    margin-block-end: 20px;
    font-weight: 500;

}
.section2_container_para{
    font-size: large;
    font-weight: 100;
    justify-content: center;
    display: flex;
    margin-block-start: 20px;
    margin-block-end: 20px;
    font-weight: 300;
    

}
.section2_container_image{
    height:600px;
    width:600px;
    margin-right: 50px;
}
.section2_container_button{
    display: flex;
    justify-content: space-evenly;
}
.section2_button{
        color:#387ed1;
}
.section2_button:hover{
    color:black;
}
.media{
    height:150px;
    width:800px;
    margin:auto;
    align-items: center;
    
}
.media:hover{
    color:lightgray;
}
.media_image{
    width:100%;
    height:100%;
    align-content: center;
}
.unbeatbale_pricing{
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    
}
.unbeatbale_pricing_image{
    height:200px;
    width:550px;
   
}
.unbeatbale_pricing_text{
    grid-area: 50%;
    margin-inline: 10px;
    display: block;
    height:200px;
    width:500px;
}
.unbeatbale_pricing_headline{
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 30px;
}
.unbeatbale_pricing_para{
    font-size:16px;
    margin-bottom: 30px;
}
.varsity{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}
.varsity_text{
    display: block;
    width:350px;
    margin-left: 100px;
}

.varsity_headline{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
}
.varsity_para{
    margin-bottom: 30px;
}
.openaccount{
    
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.openaccountheading{
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 30px;
    
}
.openaccountdesc{
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer{
    display: flex;
}
.footercard1,.footercard2{
    display: block;
}

@media (min-width:1400px){
    .body{
        max-width: 1250px;
    }
}

@media(min-width:1020px){
    .conatiner{
        max-width: 900px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width: 768px) {
    .mobile-hide {
        display:none ;
    }
    .navbar{
        justify-content: space-between;
    }
    .logo{
        height: auto;
        margin-left: 20px;
    }
    .options{
       
        font-size: x-large;
    }
    .landing_image_class{
        height:400px;
        margin-top: 40px;
        width:700px
    }
    .signupbutton{
        margin-top: 60px;
    }
    
}
